# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# LaTeX artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Backup
*.bak
*.backup

# Temp
*.tmp
*.swp
